---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
import { formatDate } from "../../utils/dateUtil";
// 1. Get the slug from the incoming server request

const DATE_OPTIONS: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const entry = await getEntry("columns", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();

const title = entry.data.title;
---

<Layout title={title} entry={entry}>
  <section class="max-w-[65ch] w-4/5 my-12">
    <h1 class="text-3xl font-bold mt-4">{entry.data.title}</h1>
    <span class="block font-['Noto_Sans'] italic text-gray-600 mt-1"
      >{formatDate(entry.data.publishDate, DATE_OPTIONS)}</span
    >
    <div class="mt-2 text-sm"></div>
    {
      entry.data.image !== undefined ? (
        <img
          class="w-fit mt-4"
          crossorigin="anonymous"
          src={entry.data.image}
          alt={`${entry.data.title} project image`}
        />
      ) : null
    }
    <span class="block w-full border-t border-dotted border-black mt-4"></span>
    <div class="mt-4 prose">
      <Content />
      <script
        src="https://giscus.app/client.js"
        data-repo="amir002001/amir002001"
        data-repo-id="R_kgDOJir9cw"
        data-category="Announcements"
        data-category-id="DIC_kwDOJir9c84CWj4h"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async
      ></script>
    </div>
  </section>
</Layout>
