---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
// 1. Get the slug from the incoming server request

const DATE_OPTIONS: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
};

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const entry = await getEntry("blog", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();

const title = entry.data.title;

const formatDate = (date: Date): string => {
  const formattedDate = date.toLocaleString("en-US", DATE_OPTIONS);
  return formattedDate;
};
---

<Layout title={title} entry={entry}>
  <section class="max-w-[65ch] w-4/5 my-12">
    <h1 class="text-3xl font-bold mt-4">{entry.data.title}</h1>
    <span class="block w-full border-t border-dotted mt-4"></span>
    <h4 class="text-sm mt-2 font-medium">
      {formatDate(new Date(entry.data.publishDate))}
    </h4>
    <img
      class="w-fit mt-4"
      crossorigin="anonymous"
      src={entry.data.image}
      alt={`${entry.data.title} project image`}
    />
    <div class="mt-4 prose prose-invert">
      <Content />
    </div>
  </section>
</Layout>
