---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectButtons from "../../components/ProjectButtons.astro";

export async function getStaticPaths() {
    const projectEntries = await getCollection("projects");
    return projectEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props as { entry: CollectionEntry<"projects"> };
const { Content } = await entry.render();
const title = "amir ¬‿¬ - " + entry.data.title;
---

<Layout title={title}>
    <section class="max-w-[65ch] mt-12">
        <h1 class="text-3xl font-bold">{entry.data.title}</h1>
        <span class="block w-full border-t border-dotted mt-2"></span>
        {
            entry.data.awards != null &&
            entry.data.awards != undefined &&
            entry.data.awards.length != 0 ? (
                <div class="mt-2">
                    Awarded:{" "}
                    {entry.data.awards.map((award, index) => {
                        const builder = [];
                        builder.push(award);
                        if (index != entry.data.awards!.length - 1) {
                            builder.push(", ");
                        }
                        return builder.join("");
                    })}
                </div>
            ) : null
        }
        {
            entry.data.tags.length != 0 ? (
                <div class="mt-2">
                    Technologies:{" "}
                    {entry.data.tags.map((tag, index) => {
                        const builder = [];
                        builder.push(tag);
                        if (index != entry.data.tags.length - 1) {
                            builder.push(", ");
                        }
                        return builder.join("");
                    })}
                </div>
            ) : null
        }
        <img
            class="w-fit mt-4"
            crossorigin="anonymous"
            src={entry.data.image}
            alt={`${entry.data.title} project image`}
        />
        <div class="w-full flex mt-4 justify-center">
            <ProjectButtons className="" entry={entry} />
        </div>
        <div class="mt-4 prose prose-invert">
            <Content />
        </div>
    </section>
</Layout>
